extends admin_layout

block content
  //- p #{data.id}
  //- p #{data.title}
  //- p #{data.authors}
  //- p #{data.description}
  //- p #{data.busy}
  //- p #{data.year}
  //- p #{data.new}
  //- p #{data.pages}
  //- img(src='img/books/'+data.id+'.jpg')

  div.container
    div.row
      div.col-md-7

        div.row
          div.col-md-4
            h3 Title:  
          div.col-md-8
            input#admin_add_book_input_title.col-md-12.input-lg(type='text')

        div.row
          div.col-md-4  
            h3 Author:
          div.col-md-8
            input#admin_add_book_input_author.col-md-12.input-lg(type='text')

        div.row 
          div.col-md-4 
            h3 Link to ozon:
          div.col-md-8
            input#admin_add_book_input_link_ozon.col-md-12.input-lg(type='text')
            
        div.row 
          div.col-md-4 
            h3 Year:
          div.col-md-8
            input#admin_add_book_input_year.col-md-12.input-lg(type='text')
            
        div.row 
          div.col-md-4 
            h3 Number of pages:
          div.col-md-8
            input#admin_add_book_input_pages.col-md-12.input-lg(type='text')

        div.row
          div.col-md-4
            h3 ISBN:
          div.col-md-8
            input#admin_add_book_input_isbn.col-md-12.input-lg(type='text')

        div.row 
          div.col-md-4 
            h3 Description:
          div.col-md-8
            textarea.col-md-12(rows='8')

        div.row
          div.col-md-4.col-md-offset-4
            input#admin_add_book_img_upload(type='file')
            button#admin_add_book_save(type='submit') Save

      div.col-md-4
          img#admin_add_book_img(src='', width='300', height='300')



  script(src='/js/admin_add_book.js' defer)
    
