extends layout
block content
  p #{data.id}
  p #{data.title}
  p #{data.authors}
  p #{data.description}
  p #{data.busy}
  p #{data.year}
  p #{data.new}
  p #{data.pages}
  img(src='img/books/'+data.id+'.jpg')
